<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PetCare{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700;800&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('styles/Components/Footer.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/Components/Navbar.css') }}">

    {% block stylesheets %}{% endblock %}
</head>
<body>

{% block body %}{% endblock %}

{% include 'components/footer.html.twig' %}
</body>
</html>
