<header class="d-flex justify-content-between align-items-center py-3 px-4 px-lg-5">
    <a href="{{ path('app_home')}}" class="text-decoration-none d-flex align-items-center logo">
        <span style="font-size:2rem;">🐾</span>
        <span class="logo-text">Pet<span>Care</span></span>
    </a>

    <div class="d-flex align-items-center" id="login">
        <a href="{{ path('app_login')}}" class="btn-ghost">Entrar</a>
    </div>
</header>
