{% extends 'components/base.html.twig' %}

{% block title %}PetCare – Login{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/login/login.css') }}">
{% endblock %}

{% block body %}

    <h1 class="main-title">Que Bom te ver<br>Novamente!!!</h1>

    <!--Form Cadastro-->
    <section class="container mt-5">

        <form method="POST" class="container d-flex justficy-content-center align-items-center"
              style="flex-direction: column;"
              ACTION="{{ path('app_cadastro') }}">

            <div class="row">

                <div class="col-12">
                    <label class="form-label text-start" FOR="name">E-mail</label>
                </div>
                <div class="col-9">
                    <input type="email" class="form-control p-2" id="email" name="email" minlength="2" required>
                </div>

                <div class="col-12">
                    <label class="form-label text-start" FOR="senha">Senha</label>
                </div>
                <div class="col-9">
                    <input type="password" class="form-control p-2" id="email" name="senha" minlength="2" required>
                </div>

                <div class="col-12 d-flex">
                    <input type="submit" class="btn btn-primary mt-2 " value="Add">
                </div>
                <div class="helpers">
                    <a href="#">Esqueceu a senha?</a>
                </div>

                <div class="divider">OU</div>

                <div class="helpers">
                    <p>Não tem uma conta? <a href="#">Criar uma</a></p>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
