.footer-custom {
    background: #1A2A35FF;
    padding: 60px 6% 30px;
}

.footer-top {
    margin-bottom: 48px;
}

.footer-brand p,
.logo-wordmark{
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.45);
    line-height: 1.7;
    margin-top: 10px;
    max-width: 220px;
}
